body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


.content-container {
  margin-top: 50px;
  transition: margin-top 0.3s ease;
  font-family: 'Raleway', sans-serif;
}

.reduced-margin { 
  margin-top: 10px;
}

.aboutme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.minime {
  margin-left: 10%;
  margin-right: 0 20px;
}

.minime img {
  width: 100%;
  max-width: 600px;
}
  
.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
}

.hello h1 {
  font-size: 70px;
  margin-bottom: 5px;
}

.hello p {
  font-size: 20px;
}

.resume-button {
  padding: 10px 20px;
  background-color: #880808;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.5s ease;
  max-width: 170px;
}

.resume-button:hover {
  background-color: #2e0505;
}

.panels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-content {
  text-align: center;
  padding: 40px;
}

.panel img {
  width: 400px;
  height: auto;
  border-radius: 50%;
}

.panel p {
  font-size: 18px;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .minime {
    margin-left: 0;
  }
  .aboutme-container {
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  .minime img {
    max-width: 500px;
  }
  .hello {
    margin-top: -40px;
  }
  .hello h1 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .minime img {
    max-width: 400px;
  }
  .hello h1 {
    font-size: 40px;
  }
  .hello p {
    font-size: 16px;
  }
  .resume-button {
    font-size: 16px;
  }
  .panel img {
    width: 300px;
  }
  .panel p {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.additional-info {
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
  transition: opacity 0.5s ease;
}


.minime img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.minime img.hover-effect:hover {
  transform: scale(1.03); 
}

.additional-info p {
  font-size: 1.2em;
  color: #555;
  font-family: 'Courier', monospace; 
  white-space: pre-wrap; 
}

.speech-bubble {
  position: absolute;
  top: 70%; 
  left: 38%; 
  width: 90px;
  background-color: #f1f1f1;
  opacity: 0.8;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: none;
}

.speech-bubble p {
  margin: 0;
  color: #333;
  font-weight: bold;
}

.minime:hover .speech-bubble {
  display: block;
}


/* #overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.overlay-content {
  margin-top: -240%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 641px) {
  #overlay {
    display: none;
  }
} */