.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 95%;
  overflow: hidden;
  margin-top: 300px;
  margin-left: 2.5%;
  font-family: 'Raleway', sans-serif;
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
}

.swiper-container .card:hover {
  transform: scale(1.05);
  transition: transform 0.3 ease;
}

@media(max-width: 768px) {
  .swiper-container {
    padding-bottom: 8vw;
  }
}

.swiper-button-next, 
.swiper-button-prev {
  color: #880808; 
  transition: transform 0.8 ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #b00e0e; 
  scale: 1.1;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  transition: transform 0.3s;
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition: transform 0.3s;
}

.card-content {
  padding: 10px;
  text-align: center;
}

.enlarged-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1200px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  text-align: left;
}

.enlarged-content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  overflow-y: auto;
}

.enlarged-content video {
  width: 900px;
  height: auto;
  min-width: 500px;
}

.description-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.description-container h3 {
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

@media (max-width: 1000px) {
  .container {
    margin-top: 250px;
  }
  .card {
    max-width: 800px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  }
  .card img {
    max-width: 600px;
  }
  .enlarged-content {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .enlarged-content video {
    width: 100%;
    min-width: none;
    max-width: 700px;
  }
  .description-container {
    max-height: none;
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .enlarged content video {
    width: 90%;
  }
}

@media (max-height: 700px) {
  .container {
    margin-top: 170px;
  }
  .enlarged-content {
    max-height: 500px;
  }
}

.close-button {
  background: none;
  border: none;
  padding: 0;
}


.close-button img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

ul {
  list-style: none;
  padding-left: 20px; 
}

ul li::before {
  content: '• ';
  color: black; 
  font-weight: bold; 
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}