body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  cursor: url('./images/closedchopsticks.png'), auto;
}

@font-face {
  font-family: 'Osaka';
  src: url('./fonts/osaka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hirosh';
  src: url('./fonts/hirosh.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}