body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.full-container {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    width: 100%;
    text-align: center;
    background-color: #880808; 
    color: white;
    padding: 10px 20px;
    height: 80px;
    z-index: 1000;
}

.title-bar {
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Hirosh', sans-serif;
}

.hamburger-menu {
  display: none;
}

.lanternandtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 150px;
    font-family: 'Lato', sans-serif;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.lanternandtext:hover {
  transform: scale(1.05); 
  img.lantern {
    content: url('../images/litlantern.png');
  }
}

.lanternandtext img.lantern {
  transition: transform 0.3s ease;
}

.nav-lanterns {
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;
}
  
.nav-lanterns.hidden {
  opacity: 0;
  visibility: hidden;
}

.lanternandtext span {
  display: inline-block; 
  transition: transform 0.3s ease; 
  color: black;
  text-decoration: none;
}
  
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hirosh';
  src: url('../fonts/hirosh.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1200px) {
  .lanternandtext {
    margin: 0 100px; 
  }
}

@media (max-width: 1000px) {
  .lanternandtext {
    margin: 0 75px; 
  }
  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 800px) {
  .lanternandtext {
    margin: 0 40px; 
  }
}

@media (max-width: 500px) {
  .lanternandtext {
    margin: 0 5px; 
  }
  .title-bar {
    font-size: 30px; 
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #880808;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 999;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
}

.mobile-menu a:hover {
  background-color: #ffcccc;
}

