.navbar {
    text-align: center;
    background-color: #880808; 
    color: white;
    padding: 10px 20px;
    height: 80px;
}

.title-bar {
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Hirosh', sans-serif;
}

.lanternandtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 150px;
    font-family: 'Osaka', sans-serif;
    transition: transform 0.3s ease;
}

.lanternandtext:hover {
  transform: scale(1.1); 
}

.lanternandtext img.lantern {
  transition: transform 0.3s ease;
}

.lanternandtext img.lantern:hover {
  transform: scale(1.1);
  content: url('../images/litlantern.png'); 
}

.nav-lanterns {
    display: flex;
    justify-content: center;
}
  
.lanternandtext span {
  display: inline-block; 
  transition: transform 0.3s ease; 
  color: black;
}
  
@font-face {
  font-family: 'Osaka';
  src: url('../fonts/osaka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hirosh';
  src: url('../fonts/hirosh.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1200px) {
  .lanternandtext {
    margin: 0 100px; 
  }
}

@media (max-width: 1000px) {
  .lanternandtext {
    margin: 0 75px; 
  }
}

@media (max-width: 800px) {
  .lanternandtext {
    margin: 0 40px; 
  }
}

@media (max-width: 500px) {
  .lanternandtext {
    margin: 0 5px; 
  }
  .title-bar {
    font-size: 30px; 
  }
}

