body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.full-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #880808; 
    color: white;
    padding: 10px 20px;
    height: 70px;
    position: relative;
}

.title-bar {
    font-size: 50px;
    font-family: 'Osaka', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hamburger-menu {
  display: none;
  margin-top: 10px;
  margin-left: 20px;
}

.lanternandtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 150px;
    font-family: 'Osaka', sans-serif;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.lanternandtext:hover {
  transform: scale(1.05); 
  img.lantern {
    content: url('../images/litlantern.png');
  }
}

.lanternandtext img.lantern {
  transition: transform 0.3s ease;
}

.nav-lanterns {
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;
    text-decoration: none;
}
  
.nav-lanterns.hidden {
  display: none;
}

.lanternandtext span {
  color: #880808;
  text-decoration: none;
}

.lanternandtext a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Osaka';
  src: url('../fonts/osaka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hirosh';
  src: url('../fonts/hirosh.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1200px) {
  .lanternandtext {
    margin: 0 100px; 
  }
}

@media (max-width: 1000px) {
  .lanternandtext {
    margin: 0 75px; 
  }
  .hamburger-menu {
    display: block;
  }
  .nav-lanterns {
    display: none;
  }
}

@media (max-width: 800px) {
  .hamburger-menu img {
    width: 30px;
    height: auto;
  }
}

@media (max-width: 640px) {
  .lanternandtext {
    margin: 0 5px; 
  }
  .title-bar {
    font-size: 45px; 
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #880808;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
}

.mobile-menu a:hover {
  background-color: #b42f2f;
}

